Origin: XBian
Package: xbian-package-upstart-xbmc-bridge
Version: 1.0
Section: utils
Priority: optional
Architecture: armhf
Maintainer: belese <besme2@gmail.com>
Description: Bridge between xbmc event and upstart
